.top-page-header {
  height: 110px;
}

.site-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lists-right {
  display: flex;
  list-style: none;
  margin-top: 30px;
  padding-right: 8px;
}

.right-list {
  margin: 0 15px;
}

.header-prof-img {
  width:65px;
	height:65px;
	object-fit:cover;
  border-radius:50%;
}

.header-prof-img:hover {
  padding: 1px;
  border: 2px solid #f5b2b2;
}

.login-btn {
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px 8px 10px;
  color: #98605e;
  background-color: #ffffff;
  border-radius:25px;
  border: #98605e solid 2px;
}

.login-btn:hover {
  background-color: #98605e;
  color: #ffffff;
}

.logout-btn {
  margin: 21px 0 0 10px;
}