.chat-page {
  min-height: 100vh;
  width: 100vw;
  background-color: #fef4f4;
  height: 100vh;
}

.chat-area-parent {
  height: calc(100% - 20px);
  margin: 0 15vw;
  border-top: 5px dotted #f19ca7;
  background-color: #ffffff;
}

@media screen and (max-width: 600px) {
  .chat-area-parent {
    margin: 5vw 8vw;
    border: none;
    padding-top: 2vw;
    height: calc(100% - 20%);
  }
}

.chat-content-area {
  height: calc(100% - 10%);
  overflow: scroll;
  padding: 0 40px 20px;
}

@media screen and (max-width: 600px) {
  .chat-content-area {
    padding: 0 23px 13px;
  }
}

.chat-form-parent {
  height: calc(100% - 90%);
  width: 100%;
  background-color: #fef4f4;
  display: flex;
  padding: 13px 2.5vw;
}

@media screen and (max-width: 600px) {
  .chat-form-parent {
    padding-bottom: 0;
    padding: 13px 2.5vw 0;
  }
}

.chat-form-child {
  width: 60vw;
  resize: none;
  background-color: #ffffff;
  padding: 0.5em 1.5em;
  border-top: solid 2px #f19ca7;
  border-bottom: solid 2px #f19ca7;
}

@media screen and (max-width: 600px) {
  .chat-form-child {
    width: 70vw;
  }
}

.form-message {
  border: none;
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
}

.snd-mark {
  width: 60px;
  height: 60px;
  margin-left: 1.3vw;
  background: #98605e;
  color: #ffffff;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .snd-mark {
    width: 48px;
    height: 48px;
  }
}

.fa-paper-plane {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 0;
  padding-left: 13px;
  padding-top: 20%;
}

@media screen and (max-width: 600px) {
  .fa-paper-plane {
    font-size: 140%;
    padding-left: 11px;
    padding-top: 23%;
  }
}

.snd-mark:hover {
  background-color: #ffffff;
  color: #98605e;
  border: 2px solid #98605e;
}