<%# CSS・・・assets/stylesheets/restaurants/about.css %>
<div class="about-text">
  <p class="about-first-line">
    「おすすめのレストランはありますか？」
  </p>
  <p>
    お客様からのご質問に最適な答えを返すことができていますか？<br>
    「みんなに人気」のレストラン<br>
    「自分が好き」なレストラン<br>
    どちらも魅力的ですが<br>
    「そのお客様にぴったり」のレストランをおすすめできるとより満足度を上げられるかもしれません</p>
  <p class="about-last-line">
    <span class="em-text">O!shi-ete</span>でサービス側の視点を踏まえた<span class="em-text">おいしい</span>お店を<span class="em-text">おしえ</span>合いましょう
  </p>
</div>