<div class="howto-parent">
  <div class="howto-child">
    <span class="box-title">Ｐｏｓｔ</span>
    <p>テキスト</p>
  </div>
  <div class="howto-child">
    <span class="box-title">Ｃｏｍｍｅｎｔ</span>
    <p>テキスト</p>
  </div>
</div>
<div class="howto-parent">
  <div class="howto-child">
    <span class="box-title">Ｌｉｋｅ</span>
    <p>テキスト</p>
  </div>
  <div class="howto-child">
    <span class="box-title">Ｃｈａｔ</span>
    <p>テキスト</p>
  </div>
</div>