<div class="howto-parent">
  <div class="howto-child">
    <span class="box-title">Ｐｏｓｔ</span>
    <div class="post-child howto-title">投稿機能</div>
    <div class="post-child">
      <%= image_tag 'post-img.png', class:"howto-img" %>
    </div>
    <div class="post-child howto-text">お客様におすすめしたい飲食店を見つけたら<span class="howto-em-text">EAT</span>ページからみんなに<span class="howto-em-text">共有</span>してみよう</div>
  </div>
  <div class="howto-child">
    <span class="box-title">Ｃｏｍｍｅｎｔ</span>
    <div class="post-child howto-title">コメント機能</div>
    <div class="post-child">
      <%= image_tag 'comment-img.png', class:"howto-img" %>
    </div>
    <div class="post-child howto-text">行ったことのあるお店が投稿されていたらお店の詳細ページから口コミを<span class="howto-em-text">コメント</span>してみよう</div>
  </div>
  <div class="howto-child">
    <span class="box-title">Ｃｈａｔ</span>
    <div class="post-child howto-title">チャット機能</div>
    <div class="post-child">
      <%= image_tag 'chat-img.png', class:"howto-img" %>
    </div>
    <div class="post-child howto-text">
      <p>目当ての条件に当てはまる投稿がまだなかった？</p>
      <p>そんな時は<span class="howto-em-text">チャット</span>でみんなから情報を募ってみよう！</p>
    </div>
  </div>
</div>