<div class="restaurant-new-form">
    <%= link_to '投稿する', new_restaurant_path, class:"r-new-form-btn" %>
</div>
<div class="search-parent">
  <div class="search-form">
    <%= form_with(url: search_restaurants_path, local: true, method: :get) do |form| %>
    <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
    <%= form.submit "", class: "search-btn" %><i class="fas fa-search"></i>
    <% end %>
  </div>
</div>