<p><span class="chat-sender"><%= message.user.name %></span>
  <span class="chat-date"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></span></p>
<div class="chat-text"><%= simple_format(h message.content) %></div>