.about {
  text-align: center;
  position: relative;
}

.about-headline {
  z-index: 1;
  position: absolute;
  top: 13%;
  left: 51%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 2px white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .about-headline {
    font-size: 1.3rem;
    top: 8%;
  }
}

@media screen and (max-width: 600px) {
  .about-icon {
    height: 120px;
    width: 120px;
  }
}

.about-text {
  padding: 15px 0;
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  .about-text {
    padding: 5px 20px;
    line-height: 30px;
  }
}

.about-first-line {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .about-first-line {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.em-text {
  font-size: 31px;
  color: #f19ca7;
}

@media screen and (max-width: 750px) {
  .em-text {
    font-size: 1.4rem;
  }
}

.about-last-line {
  margin: 70px 0;
}

@media screen and (max-width: 750px) {
  .about-last-line {
    margin: 35px 0;
  }
}