.restaurant-page {
  height: calc(100vh - 148px);
  background-color: #fef4f4;
  display: flex;
  margin-top: 18px;
  padding: 0 50px;
}

.left-side-restaurant{
  padding-top: 30px;
}

.search-form {
  height: 50px;
  position:relative;
  max-width:300px;	
  margin-left: 30px;
}

.search-input {
  height:100%;
  width: 250px;
  padding:0 10px; 
  position:absolute; 
  left:0;
  top:0; 
  border-radius:25px;
  outline:0;
  background:#eee;
}

.search-btn {
  height:100%;
  width:50px;	
  position:absolute; 
  left:200px; 
  top:0;
  background:#f19ca7;
  border:none;
  border-radius:0 25px 25px 0;
}

.fa-search{
  font-size:20px;	
  position:absolute;
  top:15px;
  left:213px;	
  color:#fff;
}

.left-side-restaurant {
  width: 25%;
  height: auto;
  background-color: #ffffff;
  margin: 20px 35px;
}

.right-side-restaurant {
  width: 75%;
  height: 100%;
  background-color: #fef4f4;
  overflow: scroll;
}

.right-side-header {
  font-size: 30px;
  margin: 37px 0 18px;
  color: #98605e;
}

li {
  list-style: none;
}

.restaurant-lists {
  background-color: #ffffff;
  margin: 20px;
  padding: 15px 40px;
  display: flex;
}

.restaurant-info {
  margin-left: 30px;
}

.restaurant-name {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 28px;
}

.restaurant-name:hover {
  border-bottom: darkgray solid 1px;
}

.genre-name {
  color: #949495;
  font-size: 14px;
  margin-bottom: 5px;
}

img.restaurant-img {
  object-fit: cover;
  width: 280px;
  height: 280px;
}