.restaurant-show-page {
  height: auto;
  background-color: #fef4f4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.s-edit-btn {
  width: 100px;
  color: #848484;
  font-size: 13px;
}

.s-edit-btn:hover {
  color: black;
}

.show-name {
  width: 1000px;
  text-align: start;
  font-size: 23px;
  font-weight: bold;
  color: #98605e;
  margin-bottom: 10px;
}

.show-child {
  width: 1000px;
  height: 100%;
  background-color: #ffffff;
  padding: 18px 30px 30px;
}

.show-list {
  display: flex;
  margin-left: 10%;
}

.show-sammary {
  display: flex;
  margin: 10px 35px 8px 0;
  background-color: #f1f1f1;
  color: #454545;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
}

.show-rates {
  display: flex;
  margin-left: 10%;
  padding-bottom: 18px;
}

.rate-child {
  margin-right: 20px;
  font-size: 14px;
  color: #454545;
}

.show-main-body {
  margin: 0 10% 50px;
}

.show-image {
  height: 400px;
  width: 600px;
  object-fit: contain;
  background-color: #f6f6f6;
}

.show-post-user {
  padding: 10px 0 0 5px;
}

.fa-user-edit {
  margin-right: 5px;
}

.show-description {
  margin: 25px 0 0;
  position: relative;
  display: inline-block;
  padding: 20px;
  color: #555;
  background: #eaedf7;
  line-height: 28px;
}

.show-description::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 30px;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #eaedf7;
}

.info-table {
  margin-top: 100px;
  width: 700px;
  border-collapse: collapse;
  border: solid 2px lightgray;
}

caption {
  font-size: 17px;
  padding-bottom: 3px;
}

.caption-restaurant-name {
  color: #98605e;
  font-size: 25px;
}

table th {
  background-color: #f1f1f1;
  text-align: center;
}

table td {
}

table th, table td {
  border: dashed 1px lightgray;
  padding: 20px;
}

.map {
  height: 400px;
  width: 520px;
  margin-top: 5px;
}

.genre-web {
  font-size: 15px;
}