<%# CSS・・・assets/stylesheets/restaurants/index.css %>
<%= render 'shared/header' %>
<%= render 'shared/second-header' %>

<div class="restaurant-page">
<%# 左のエリア %>
  <div class="left-side-restaurant">
    <%= render 'shared/index_left' %>
  </div>

  <%# 右のエリア %>
  <div class="right-side-restaurant">
    <h2 class="right-side-header">カフェ・レストラン一覧</h2>
    <%= render 'shared/index_right' %>
  </div>
</div>