.registration-background {
  height: auto;
  width: 1440px;
  background-color: #fef4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.registration-panel {
  height: auto;
  width: 576px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  text-align:center
}

form {
  width: 300px;
}

h1 {
  font-size: 35px;
  color: #98605e;
  margin: 20px 0 60px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.info-text {
  font-size: 16px;
}

.notes {
  font-size: smaller;
  color: #949495;
}

.form-space {
  height: 40px;
  width: 100%;
  resize: none;
  font-size: 15px;
  background-color: #ffffff;
  border: darkgray solid 1px;
  margin: 5px 0 25px;
  padding: 10px 16px 8px;
  border-radius:5px;
}

.form-space:focus {
  box-shadow: 0px 0px 5px 2px #f5b2b2;
  border: #f19ca7;
  outline: none;
}

.form-space::placeholder {
  font-size: larger;
  color: #adadad;
}

.register-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 8px 0 10px;
  color: #ffffff;
  background-color: #98605e;
  border-radius:25px;
  border: none;
  margin: 10px 0 5px;
}

.guide-text {
  font-size: 11px;
  text-decoration: none;
  color: #888084;
}